html {
    background-color: rgb(5, 5, 5);
    overflow: hidden;

    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    image-rendering: pixelated;
    scroll-behavior: smooth;

    color: white;
    font-size: 24px;
    box-shadow: rgba(10, 10, 10, 0.8) 0rem 0rem 1rem 1rem inset;
    z-index: 1; /* Ensure it's on top */

    transition-duration: 200ms;
}

html:hover {
    box-shadow: rgba(0, 0, 0, 0.9) 0rem 0rem 2rem 2rem inset;
}

button {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    font-size: 25px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 0;

}

button:hover {
    font-weight: bold;
    cursor:pointer;
}

button:active {
    color: rgb(200, 200, 200);
}

input:hover {
    cursor:pointer;
}

p {
    font-size: 20px;
}
* {
    user-select: none;
}

#body {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    
    transition: transform 0.3s ease;
}

.container {
    margin: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgba(36, 36, 36, 0.5);
    outline: 1px solid rgb(0, 0, 0);
    border-radius: 0.125rem;
    padding: 0.25rem;

    transition-duration: 200ms;
}

.containerL {
    transition-duration: 200ms;
}

*:not([draggable="true"]) {
    -webkit-user-drag: none; /* Safari */
    -moz-user-drag: none; /* Firefox */
    -ms-user-drag: none; /* Internet Explorer/Edge */
    user-drag: none; /* Standard */
}

p {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#AreaName {
    padding: 5;
}

.stats {
    font-size: 10px;
    text-align: left;
}

.Locked {
    display: none;
}

.whiteOutline {
    outline: 1px solid white;
}


.hoverOutline {
    outline: 1px solid rgb(150, 150, 150);
}

.hoverOutline:hover {
    outline: 1px solid white;
}

.bottom-right {
    position: fixed;
    bottom: 10px; /* Adjust the distance from the bottom */
    right: 10px; /* Adjust the distance from the right */
}

#mainMenu {

    display: flex;
    align-items: center;
    justify-content: center;

}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0; /* Initially invisible */
    transition: opacity 1s ease; /* Smooth transition */
    pointer-events: none; /* Allow clicks to pass through */
    z-index: 999; /* Ensure it's on top */
}