.bar {
    height: 1rem;
    border-radius: 0.5rem;
    width: 150px;
    float: left;
    overflow: hidden;
}

.background {
    background-color: rgba(255, 255, 255, 0.752);
}

.barFlex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
}

#XPBar {
    position: relative;
    background-color: rgb(0, 255, 0);

    transition-delay: 200ms;
    transition-duration: 1s;
}

.diagonal-bars {
    position: absolute;
    top: 0;
    left: 0;
    width: 500%;
    height: 100%;
    background-image: repeating-linear-gradient(135deg, rgba(200, 200, 200, 0.75), rgba(200, 200, 200, 0.75) 4px, transparent 5px, transparent 20px);
    background-size: 100% 100%; /* Adjusted to cover the entire element */
    animation: moveLines 5s linear infinite;
}


#XPProgress {
    position: absolute;
}

#MonsterContainer {
    padding-bottom: 2rem;
}

#MonsterHealthBar {
    margin-top: 10px; 
    width: 190px;
}

#InnerHealthBarContainer {
    width: 190px;
    height: 100%;
}

#MonsterHealthBarInner {
    position: relative;
    width: 190px;
    background-color: rgb(152, 0, 0);

    transition-delay: 200ms;
    transition-duration: 1s;
}

#SecondMonsterHealthBarInner {
    position: absolute;
    width: 190px;
    background-color: rgb(255, 0, 0);

    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(1, -0.05, 0.05, 1.5);
}

#HealthBarInnerText {
    position: absolute;
    width: 190px;
}

#XPProgress {
    font-size: 10px;
    transition-duration: 200ms;
}

#XPProgress:hover {
    font-size: 11px;
}