#QuestMenu {
    background-color: rgba(199, 99, 0, 0.5);
    border: 2px solid black;
    overflow-y: scroll;
    width: 11.750rem;
    height: 10rem;
}

#CraftingMenuItemsContainer {
    background-color: rgba(199, 99, 0, 0.5);
    border: 2px solid black;
    overflow-y: scroll;
    width: 11.750rem;
    height: 10rem;
}

#Catagory {
    margin-top: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 2rem;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#Catagory button{
    margin-left: 1rem;
    margin-right: 1rem;
}

.Craft {
    cursor:pointer;
    float: left;
    width: 80%;
    height: 30px;
    margin: 3px;
    padding: 3px;
    border: 1px solid black;
    background-color: #b47e36;
    border-radius: 4px;

    transition-duration: 200ms;
}

.Craft:hover {
    width: 90%;
    background-color: #a8742f;
}

.Craft:hover img {
    height: 20px;
    padding: 2px;
}

.Craft img:hover {
    height: 24px;
    padding: 0px;
}

.Craft img {
    float: right;
    height: 18px;
    margin: 3px;
    padding: 3px;
    image-rendering: pixelated;
    background: rgba(127,0,0,0.25); 
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);

    transition-duration: 200ms;
}

.Craft:active {
    width: 85%;
}

.Craft:active img {
    height: 24px;
    padding: 0px;
    transition-duration: 300ms;
    
}

.CraftReqs {
    text-align: left;
    margin-top: 2px;
    font-size: 8.5px;
    color:black;
    margin: 0;
}

.tab {
    background: linear-gradient(to bottom, rgb(99 99 99 / 50%), rgb(0 0 0 / 50%));
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.tab:hover p {
    transform: scale(1.1);
}

.tab:hover {
    background: linear-gradient(to bottom, rgb(0 0 0 / 50%), rgb(99 99 99 / 50%));
}

.tab-left {
    border-top-left-radius: 12px;
}
  
.tab-right {
    border-top-right-radius: 12px;
}

.tab-content {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
}

.tab-content.active {
    display: block; 
}